%%-*- mode: erlang -*-
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
%%  {mochiweb,       ".*", {git, "git://github.com/mochi/mochiweb.git",        "master"}},
  {json,           ".*", {git, "git://github.com/davisp/eep0018.git",        "master"}},
  {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}}
]}.
